{% extends 'main.html' %}

{% block content %}
    <main class="page-center">
        <article class="sign-up">
            <h1 class="sign-up__title">Get started</h1>
            <p class="sign-up__subtitle">Create An account </p>
            <form class="sign-up-form form" method="post">
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
                <label for="first_name" class="form-label-wrapper">
                    <p class="form-label">First Name</p>
                    <input class="form-input" type="text" placeholder="Enter your First Name" name="first_name" required>
                </label>
                <label for="last_name" class="form-label-wrapper">
                    <p class="form-label">Last Name</p>
                    <input class="form-input" type="text" placeholder="Enter your Last Name" name="last_name" required>
                </label>
                <label for="phone_number" class="form-label-wrapper">
                    <p class="form-label">Phone Number</p>
                    <input class="form-input" type="text" placeholder="Enter your Phone Number" name="phone_number"
                           required>
                </label>
                <label for="email" class="form-label-wrapper">
                    <p class="form-label">Email</p>
                    <input class="form-input" type="email" placeholder="Enter your email" name="email" required>
                </label>
                <label for="password1" class="form-label-wrapper">
                    <p class="form-label">Password</p>
                    <input class="form-input" type="password" placeholder="Enter your password" name="password1"
                           required>
                </label>

                <label for="password2" class="form-label-wrapper">
                    <p class="form-label"> Confirm Password</p>
                    <input class="form-input" type="password" placeholder="Enter your password" name="password2"
                           required>
                </label>
                <label for="is_collector" class="form-checkbox-wrapper">
                    <input class="form-checkbox" type="checkbox" name="is_collector">
                    <span class="form-checkbox-label">Are You A Collector?</span>
                </label>
                <input type="submit" value="Sign Up" class="form-btn primary-default-btn transparent-btn">
                <div class="form-link-wrapper mt-2">
                    <p class="form-link link-info">Already have an account? <a class="link-info"
                                                                               href="{% url 'login' %}">Sign In</a></p>
                </div>
            </form>
        </article>
    </main>
{% endblock %}